@import url('../node_modules/normalize.css/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

:root {
  /* stylelint-disable color-no-hex */
  --color-light: #fff;
  --color-dark: #272e3a;
  --color-background: #ecf1f5;
  --color-border: #becad5;
  --color-hovered: #ecf1f5bb;
  --color-header: #e0e5e9;
  --color-danger: #e2420d;
  --color-primary: #0064c8;
  --color-primary-dark: #003265;
  --spacer: 8px;
  --border-radius: 2px;
  --generic-transition: all 0.2s ease;
  /* stylelint-enable color-no-hex */
}

body {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(--color-dark);
  background: var(--color-background);
}

a {
  color: var(--color-primary);
}

a:visited {
  color: var(--color-primary-dark);
}

.virtualizedWrapper {
  position: relative;
}

.table {
  display: block;
  background: var(--color-light);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  flex-shrink: 0;
}

.table__head {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.table__body {
  position: relative;
  overflow-y: auto;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.table__row {
  display: flex;
}

.table__cell {
  position: relative;
  display: flex;
  min-width: 30px;
  max-width: 9999px;
  padding: 0 calc(var(--spacer) * 2);
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
  outline: 0;
  box-shadow: 0 -1px 0 0 var(--color-border) inset;
  align-items: center;
  flex: 1 1 auto;
  flex-basis: 200px;
}

.table__head .table__cell {
  font-weight: 900;
  background: var(--color-header);
}

.table__body .table__row:hover .table__cell {
  background: var(--color-hovered);
}

.table__body .table__row:last-child .table__cell {
  box-shadow: none;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.virtualizedWrapper .table__row {
  position: absolute;
  right: 0;
  left: 0;
}

.badge {
  display: inline-block;
  height: calc(var(--spacer) * 2);
  padding: 0 calc(var(--spacer) / 2);
  font-size: 12px;
  font-weight: 900;
  line-height: 15px;
  color: var(--color-light);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: var(--color-primary);
  border: 1px solid transparent;
  border-radius: calc(var(--spacer) * 2);
}

.badge--danger {
  background-color: var(--color-danger);
}

.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  background: var(--color-border);
  opacity: 0;
  transition: var(--generic-transition);
}

.table__body:hover .scrollbar,
.table__body:active .scrollbar {
  width: 12px;
  opacity: 1;
}

.scrollbar__handler {
  position: absolute;
  width: 100%;
  height: 25%;
  box-sizing: border-box;
  cursor: grab;
  user-select: none;
  background: var(--color-dark);
  border: 3px solid var(--color-border);
  border-radius: 10px;
}

.scrollbar__handler:active {
  cursor: grabbing;
}

.demo {
  display: flex;
  min-height: 100vh;
  padding-bottom: calc(var(--spacer) * 10);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.demo__title {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  padding: calc(var(--spacer) * 2) calc(var(--spacer) * 4);
  margin: 0;
  overflow: hidden;
  color: var(--color-light);
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-dark)
  );
  align-self: stretch;
  justify-content: center;
  align-items: center;
}

.demo__table {
  width: 800px;
  overflow: hidden;
}

.demo__table .table {
  margin: calc(var(--spacer) * 4) 0;
}
